:root {
  --light-white: #fcfdfe;
  --medium-white: #f5f6f7;
  --divider: #ececec;
  --dark-blue: #324461;
  --light-blue: #0071a5;
  --main-yellow: #fdb813;
  --main-white: #ffffff;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-white);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 64px;
}

.container__header--list {
  display: flex;
  gap: 32px;
  font-family: "Montserrat", sans-serif;
}

.container__header--list li a {
  color: var(--dark-blue);
}

.container__header--list li:hover,
.container__six--links p a:hover {
  opacity: 0.7;
  transition: 0.4s all;
}

.container__header--list li::after,
.container__six--links p a:after {
  content: "";
  display: block;
  height: 1px;
}

.container__header--list li:hover::after,
.container__six--links p a:hover::after {
  margin-top: 0;
  animation: animationLink 1s ease forwards;
}

.container__header--list li:hover::after {
  background-color: var(--dark-blue);
}

.container__six--links p a:hover::after {
  background-color: var(--light-white);
}

@keyframes animationLink {
  from {
    width: 0%; /* Definindo a largura inicial como 0% */
  }
  to {
    width: 105%; /* Aumentando a largura para 100% */
  }
}

.container__one {
  display: flex;
  align-items: center;

  width: 100%;
}

.container__one img {
  position: relative;
  left: -128px;
  margin-top: 32px;
}

.container__one--texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 50%;
}

.container__one--texts h1 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 3.375rem;
  color: var(--light-blue);
}

.container__one--texts p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: var(--dark-blue);
  width: 60%;
}

.container__one--texts button {
  width: 60%;
  background-color: var(--main-yellow);

  color: var(--main-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;

  border: 0;
  padding: 8px;
  border-radius: 48px;
}

.container__one--texts a button {
  color: var(--main-white);
}

.container__two {
  background-color: var(--medium-white);
  padding: 64px 0;
}

.container__two--content {
  display: flex;
  gap: 48px;
}

.container__two__first--section {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 48px;
  border-radius: 32px;
  font-family: "Montserrat", sans-serif;

  background-color: var(--light-white);
}

.container__two__texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container__two__texts h3 {
  font-size: 2.5rem;
  color: var(--main-yellow);
}

.container__two__texts h4 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.container__two__texts p {
  line-height: 1.3;
}

.container__two--divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider);
}

.container__two__second--section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px;
  color: var(--dark-blue);
}

.container__two__second--section h2 {
  font-size: 3.625rem;
  font-family: "Poppins", sans-serif;
}

.container__two__second--section p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}

.container__three {
  padding: 64px 0;
}

.container__three--texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  margin-bottom: 32px;
}

.container__three--texts h1 {
  font-size: 3.625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--light-blue);
}

.container__three--texts p {
  font-size: 1.25rem;
  width: 65%;
  font-family: "Montserrat", sans-serif;
}

.container__three--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.container__three--grid--content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--medium-white);
  padding: 32px;
  border-radius: 32px;
}

.container__three--grid--content h3 {
  font-size: 1, 375rem;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--dark-blue);
}

.container__three--grid--content img {
  width: 100%;
}

.container__four {
  background-color: var(--medium-white);
  padding: 64px 0;
}

.container__four--content {
  display: flex;
}

.container__four--content--texts {
  display: flex;
  flex-direction: column;
  color: var(--dark-blue);
  position: relative;
  gap: 24px;
  padding-top: 52px;
  left: 64px;
}

.container__four--content--texts h2 {
  font-size: 3.625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0 48px;
}

.container__four--content--texts p {
  font-family: "Montserrat", sans-serif;
  padding: 48px;
  background-color: var(--light-white);
  border-radius: 30px;
  line-height: 1.6;
}

.container__four--content p span {
  color: var(--light-blue);
}

.container__five {
  display: flex;
  justify-content: center;
  background-image: url(../images/contato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px;

  position: relative;
  top: 32px;

  height: 290px;

  border-radius: 30px;
}

.container__five--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container__five--content h1 {
  font-size: 3.625rem;
  color: var(--main-white);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  text-align: center;
}

.container__five--content button {
  background-color: var(--main-white);
  font-family: "Montserrat", sans-serif;
  padding: 16px 48px;
  border-radius: 30px;
  font-size: 1.25rem;
  font-weight: bolder;
  border: 0;
}

.container__five--content a button {
  color: var(--light-blue);
}

footer {
  padding: 120px 0;
  background-color: var(--dark-blue);
  font-family: "Montserrat", sans-serif;
  color: var(--main-white);
}

footer a {
  color: var(--light-white);
}

.container__six {
  display: flex;
  justify-content: space-around;
}

.container__six--links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container__six--links p a {
  font-weight: 200;
}

.container__six--item {
  display: flex;
  gap: 16px;
}

.container__six--contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container__six--contact img {
  width: 20px;
  height: 20px;
}

.container__six--contact--image {
  width: 36px;
  height: 36px;
  background-color: var(--main-white);
  padding: 8px;
  border-radius: 10px;
}

.container__six--contact-texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container__six--contact-texts p:nth-child(2) {
  font-weight: 200;
}
